:root {
    --dark: rgba(80, 120, 155, 0.411)
}

* {
    background-color: var(--dark);
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(47, 7, 83);
}